# Welcome to the Project Notebook

## Title: Domestic tourism and travelling post the national (India) lockdown

In [ ]:
!conda install -c anaconda beautifulsoup4 --yes
!conda install -c conda-forge geopy --yes 
import requests
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import matplotlib as mlp
import matplotlib.pyplot as plt
import folium
from geopy.geocoders import Nominatim
import json

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - beautifulsoup4


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    beautifulsoup4-4.9.0       |           py36_0         165 KB  anaconda
    ca-certificates-2020.1.1   |                0         132 KB  anaconda
    certifi-2020.4.5.1         |           py36_0         159 KB  anaconda
    openssl-1.1.1g             |       h7b6447c_0         3.8 MB  anaconda
    soupsieve-2.0              |             py_0          33 KB  anaconda
    ------------------------------------------------------------
                                           Total:         4.3 MB

The following NEW packages will be INSTALLED:

  beautifulsoup4     anaconda/linux-64::beautifulsoup4-4.9.0-py36_0
  soupsieve          anaconda/noarch::soupsieve-2.0-py_0

The following packages will be SUPERSEDED by a higher-priority channel:

  ca-certificates    conda-forge::ca-certificates-2020.4.5~ --> anaconda::ca-certificates-2020.1.1-0
  certifi            conda-forge::certifi-2020.4.5.1-py36h~ --> anaconda::certifi-2020.4.5.1-py36_0
  openssl            conda-forge::openssl-1.1.1g-h516909a_0 --> anaconda::openssl-1.1.1g-h7b6447c_0



Downloading and Extracting Packages
certifi-2020.4.5.1   | 159 KB    | ##################################### | 100%
soupsieve-2.0        | 33 KB     | ##################################### | 100%
ca-certificates-2020 | 132 KB    | ##################################### | 100%
openssl-1.1.1g       | 3.8 MB    | ##################################### | 100%
beautifulsoup4-4.9.0 | 165 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting package metadata (current_repodata.json): done
Solving environment: -

### Section 1: Gathering all touristic hotspots of the country

#### Section 1.1: Scraping Hotspot names, ratings and number of ratings from google travel using BeautifulSoup

In [2]:
#Creation of BeautifulSoup objects
outdoors = 'https://www.google.com/travel/things-to-do/see-all?g2lb=2502548%2C4215767%2C4258168%2C4260007%2C4270442%2C4274032%2C4291318%2C4305595%2C4306835%2C4317915%2C4328159%2C4329288%2C4333265%2C4358983%2C4366684%2C4367954%2C4369397%2C4372336%2C4373848%2C4380601%2C4270859%2C4284970%2C4291517%2C4316256%2C4356899&hl=en&gl=in&un=1&otf=1&dest_mid=%2Fm%2F03rk0&dest_state_type=sattd&dest_src=ts&tcfs=EgoKCC9tLzAzcmsw&sa=X#ttdm=26.112690_78.025407_5&ttdmf=%252Fm%252F081jv3'
outdoors_soup = BeautifulSoup(requests.get(outdoors).text,'html5lib')

artculture = 'https://www.google.com/travel/things-to-do/see-all?g2lb=2502548%2C4215767%2C4258168%2C4260007%2C4270442%2C4274032%2C4291318%2C4305595%2C4306835%2C4317915%2C4328159%2C4329288%2C4333265%2C4358983%2C4366684%2C4367954%2C4369397%2C4372336%2C4373848%2C4380601%2C4270859%2C4284970%2C4291517%2C4316256%2C4356899&hl=en&gl=in&un=1&otf=1&dest_mid=%2Fm%2F03rk0&dest_state_type=sattd&dest_src=ts&tcfs=EgoKCC9tLzAzcmsw&sa=X&rf=ChwKGAoHL20vMGpqdxINQXJ0ICYgQ3VsdHVyZRAB#ttdm=22.319764_76.681641_4&ttdmf=%25252Fm%25252F0l8cb'
artculture_soup=BeautifulSoup(requests.get(artculture).text,'html5lib')

history = 'https://www.google.com/travel/things-to-do/see-all?g2lb=2502548%2C4215767%2C4258168%2C4260007%2C4270442%2C4274032%2C4291318%2C4305595%2C4306835%2C4317915%2C4328159%2C4329288%2C4333265%2C4358983%2C4366684%2C4367954%2C4369397%2C4372336%2C4373848%2C4380601%2C4270859%2C4284970%2C4291517%2C4316256%2C4356899&hl=en&gl=in&un=1&otf=1&dest_mid=%2Fm%2F03rk0&dest_state_type=sattd&dest_src=ts&tcfs=EgoKCC9tLzAzcmsw&sa=X&rf=ChcKEwoIL20vMDNnM3cSB0hpc3RvcnkQAQ#ttdm=20.837795_74.517894_4&ttdmf=%25252525252Fm%25252525252F0l8cb'
history_soup=BeautifulSoup(requests.get(history).text,'html5lib')

beaches = 'https://www.google.com/travel/things-to-do/see-all?g2lb=2502548%2C4215767%2C4258168%2C4260007%2C4270442%2C4274032%2C4291318%2C4305595%2C4306835%2C4317915%2C4328159%2C4329288%2C4333265%2C4358983%2C4366684%2C4367954%2C4369397%2C4372336%2C4373848%2C4380601%2C4270859%2C4284970%2C4291517%2C4316256%2C4356899&hl=en&gl=in&un=1&otf=1&dest_mid=%2Fm%2F03rk0&dest_state_type=sattd&dest_src=ts&tcfs=EgoKCC9tLzAzcmsw&sa=X&rf=ChcKEwoIL20vMGIzeXISB0JlYWNoZXMQAQ#ttdm=13.316684_73.965106_5&ttdmf=%2525252525252Fm%2525252525252F0l8cb'
beaches_soup=BeautifulSoup(requests.get(beaches).text,'html5lib')

museums = 'https://www.google.com/travel/things-to-do/see-all?g2lb=2502548%2C4215767%2C4258168%2C4260007%2C4270442%2C4274032%2C4291318%2C4305595%2C4306835%2C4317915%2C4328159%2C4329288%2C4333265%2C4358983%2C4366684%2C4367954%2C4369397%2C4372336%2C4373848%2C4380601%2C4270859%2C4284970%2C4291517%2C4316256%2C4356899&hl=en&gl=in&un=1&otf=1&dest_mid=%2Fm%2F03rk0&dest_state_type=sattd&dest_src=ts&tcfs=EgoKCC9tLzAzcmsw&sa=X&rf=ChcKEwoIL20vMDljbXESB011c2V1bXMQAQ#ttdm=21.658970_77.971442_4&ttdmf=%252525252525252Fm%252525252525252F0l8cb'
museums_soup=BeautifulSoup(requests.get(museums).text,'html5lib')

amusparks = 'https://www.google.com/travel/things-to-do/see-all?g2lb=2502548%2C4215767%2C4258168%2C4260007%2C4270442%2C4274032%2C4291318%2C4305595%2C4306835%2C4317915%2C4328159%2C4329288%2C4333265%2C4358983%2C4366684%2C4367954%2C4369397%2C4372336%2C4373848%2C4380601%2C4270859%2C4284970%2C4291517%2C4316256%2C4356899&hl=en&gl=in&un=1&otf=1&dest_mid=%2Fm%2F03rk0&dest_state_type=sattd&dest_src=ts&tcfs=EgoKCC9tLzAzcmsw&sa=X&rf=CiAKHAoJL20vMDEwampyEg9BbXVzZW1lbnQgUGFya3MQAQ#ttdm=14.520034_75.642766_4&ttdmf=%25252525252525252Fm%25252525252525252F0l8cb'
amusparks_soup=BeautifulSoup(requests.get(amusparks).text,'html5lib')

In [3]:
#Gathering all the names of the locations from the beatifulsoup objects (where rating exists)
outdoors_names=[name.find('div',class_='skFvHc').text for name in outdoors_soup.find_all('div',class_='GwjAi')\
               if name.find('span',class_='KFi5wf') is not None]
artculture_names=[name.find('div',class_='skFvHc').text for name in artculture_soup.find_all('div',class_='GwjAi')\
               if name.find('span',class_='KFi5wf') is not None]
history_names=[name.find('div',class_='skFvHc').text for name in history_soup.find_all('div',class_='GwjAi')\
               if name.find('span',class_='KFi5wf') is not None]
beaches_names=[name.find('div',class_='skFvHc').text for name in beaches_soup.find_all('div',class_='GwjAi')\
               if name.find('span',class_='KFi5wf') is not None]
museums_names=[name.find('div',class_='skFvHc').text for name in museums_soup.find_all('div',class_='GwjAi')\
               if name.find('span',class_='KFi5wf') is not None]
amusparks_names=[name.find('div',class_='skFvHc').text for name in amusparks_soup.find_all('div',class_='GwjAi')\
               if name.find('span',class_='KFi5wf') is not None]

#Gathering all the ratings of the locations from the beatifulsoup objects (where rating exists)
outdoors_ratings=[name.find('span',class_='KFi5wf').text for name in outdoors_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
artculture_ratings=[name.find('span',class_='KFi5wf').text for name in artculture_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
history_ratings=[name.find('span',class_='KFi5wf').text for name in history_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
beaches_ratings=[name.find('span',class_='KFi5wf').text for name in beaches_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
museums_ratings=[name.find('span',class_='KFi5wf').text for name in museums_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
amusparks_ratings=[name.find('span',class_='KFi5wf').text for name in amusparks_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]

#Gathering all the 'number of ratings' of the locations from the beatifulsoup objects (where rating exists)
outdoors_nofratings=[name.find('span',class_='jdzyld').text for name in outdoors_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
artculture_nofratings=[name.find('span',class_='jdzyld').text for name in artculture_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
history_nofratings=[name.find('span',class_='jdzyld').text for name in history_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
beaches_nofratings=[name.find('span',class_='jdzyld').text for name in beaches_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
museums_nofratings=[name.find('span',class_='jdzyld').text for name in museums_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]
amusparks_nofratings=[name.find('span',class_='jdzyld').text for name in amusparks_soup.find_all('div',class_='GwjAi')\
                  if name.find('span',class_='KFi5wf') is not None]

#### Section 1.2: Creating three lists, containing all the names and their respective ratings and number of ratings. Also converting ratings to float and number of ratings to int

In [4]:
all_names=outdoors_names+artculture_names+history_names+beaches_names+museums_names+amusparks_names
all_ratings=outdoors_ratings+artculture_ratings+history_ratings+beaches_ratings+museums_ratings+amusparks_ratings
all_nofratings=outdoors_nofratings+artculture_nofratings+history_nofratings+beaches_nofratings+museums_nofratings+amusparks_nofratings

#Converting ratings to float and number of ratings to int
all_ratings=[float(value) for value in all_ratings]
all_nofratings=[int(value.split('(')[1].split(')')[0].replace(',','')) for value in all_nofratings]

_dict = {'Name':all_names,'Rating':all_ratings,'Number of Ratings':all_nofratings}
_df=pd.DataFrame(_dict)
_df=_df.drop_duplicates()

all_names=_df["Name"].tolist()
all_ratings=_df["Rating"].tolist()
all_nofratings=_df["Number of Ratings"].tolist()

### Section 2: Using Google Geocoding API to gather the following data:
1. Latitude & Longitude
2. Type (what type of touristic destination is it?)
3. State and District

NOTE: <b>Not using Foursquare</b> because it is very limited in India.

In [6]:
#Google Credentials
google_key='AIzaSyBw44XUyvcfktseD-Ga-v8DHNPH38ozLlA'

In [66]:
latitude=[]
longitude=[]
state=[]
district=[]
typeofdest=[]
for text in all_names:
    _district=''
    _state=''
    _latitude=np.nan
    _longitude=np.nan
    _typeofdest=[]
    url = 'https://maps.googleapis.com/maps/api/geocode/json?address={},+Indial&key={}'.format(text,google_key)
    res=requests.get(url).json()
    if(not res['results']):
        district.append('')
        state.append('')
        latitude.append(np.nan)
        longitude.append(np.nan)
        typeofdest.append([])
        continue
    
    for add in res["results"][0]['address_components']:
        
        try: 
            if add['types'][0]=='administrative_area_level_2':
                _district=add['long_name']
        except: 
            pass
        
        try: 
            if add['types'][0]=='administrative_area_level_1':
                _state=add['long_name']
        except: 
            pass
    
    #District
    if (not _district):
        district.append('')
    else:
        district.append(_district)
    
    #State
    if (not _state):
        state.append('')
    else:
        state.append(_state)
            
    _latitude=res["results"][0]['geometry']['location']['lat']
    _longitude=res["results"][0]['geometry']['location']['lng']
    _typeofdest=res['results'][0]['types']
    
    #Latitude
    if (not _latitude):
        latitude.append(np.nan)
    else:
        latitude.append(_latitude)
    
    #Longitude
    if (not _longitude):
        longitude.append(np.nan)
    else:
        longitude.append(_longitude)
        
    #Type of Touristic destination
    if (not _typeofdest):
        typeofdest.append([])
    else:
        typeofdest.append(_typeofdest)

In [68]:
df=pd.DataFrame({'Name':all_names,'Latitude':latitude,'Longitude':longitude,'District':district,'State':\
                 state,'Ratings':all_ratings,'Number of Ratings':all_nofratings,'Type of Destination':\
                 typeofdest})

In [69]:
#Removing rows without district and with longitudes less than 68E caused by bad geocoding
df = df[(df["State"]!='')&(df["Longitude"]>68)].reset_index(drop=True)

In [326]:
df.head(10)

,Name,Latitude,Longitude,District,State,Ratings,Number of Ratings,Type of Destination
0,Taj Mahal,27.175145,78.042142,Agra,Uttar Pradesh,4.6,167260,"[establishment, point_of_interest, tourist_att..."
1,Amber Palace,26.985487,75.851345,Jaipur,Rajasthan,4.6,93089,"[establishment, point_of_interest, premise, to..."
2,Ranthambore National Park,26.017327,76.502574,Sawai Madhopur,Rajasthan,4.4,3007,"[establishment, park, point_of_interest, touri..."
3,Red Fort,28.656159,77.241020,North Delhi,Delhi,4.4,100257,"[establishment, point_of_interest, tourist_att..."
4,Hawa Mahal,26.923936,75.826744,Jaipur,Rajasthan,4.4,82997,"[establishment, point_of_interest, premise, to..."
5,"City Palace, Jaipur",26.925771,75.823658,Jaipur,Rajasthan,4.4,34553,"[establishment, museum, point_of_interest, pre..."
6,Agra Fort,27.179533,78.021112,Agra,Uttar Pradesh,4.5,74515,"[establishment, point_of_interest, tourist_att..."
7,Qutub Minar,28.524475,77.185521,South Delhi,Delhi,4.5,93289,"[establishment, point_of_interest, tourist_att..."
8,India Gate,28.612912,77.229510,New Delhi,Delhi,4.6,189634,"[establishment, point_of_interest, tourist_att..."
9,Humayun’s Tomb,28.593285,77.250749,South East Delhi,Delhi,4.5,27829,"[establishment, point_of_interest, tourist_att..."

In [303]:
#Cleaning beach and fort types
df.loc[df['Name'].str.upper().str.contains("BEACH"),'Type of Destination'] = ['establishment','natural_feature','beach']
df.loc[df['Name'].str.upper().str.contains("FORT"),'Type of Destination'] = ['establishment','point_of_interest','tourist_attraction']

In [322]:
#Dropping rows with faulty Destination Type
count=0
ind=[]
for dest in df['Type of Destination']:
    if(('political' in dest) or ('route' in dest) or (dest is None)):
        ind.append(count)
    count+=1
df = df.drop(ind)

In [331]:
#Dropping possible Duplicates
df = df.drop_duplicates(subset='Name')

In [356]:
# Need to obtain districts of those touristic places without one, by using reverse geocoding
_df=df[df['District']=='']
count=0
district=[]
for lat,long in zip(_df['Latitude'],_df['Longitude']):
    _district=[]
    url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng={},{}&key={}'.format(lat,long,google_key)
    res = requests.get(url).json()
    for add in res["results"][0]['address_components']:
        
        try: 
            if add['types'][0]=='administrative_area_level_2':
                _district=add['long_name']
        except: 
            pass
    
    #District
    if (not _district):
        district.append('')
    else:
        district.append(_district)
df.loc[df['District']=='','District']=district

### Section 3: Getting additional data: 
#### 1. Number of Coronavirus cases in the State and District (https://www.covid19india.org/)
#### 2. Domestic Tourism footfall in each state in 2019
#### 3. Population of each District and State

In [214]:
#API for District wise cases
url = 'https://api.covid19india.org/v2/state_district_wise.json'
res = requests.get(url).json()

In [312]:
#Lists for getting data of all districts and states and the number of coronavirus cases for both
all_districts=[]
all_districts_cases=[]
all_states=[]
all_states_cases=[]
_sum=0
for i in res:
    all_states.append(i['state'])
    for j,_ in enumerate(i['districtData']):
        all_districts.append(i['districtData'][j]['district'])
        all_districts_cases.append(i['districtData'][j]['active'])
        _sum+=i['districtData'][j]['active']
    all_states_cases.append(_sum)
    _sum=0

In [315]:
#Getting the number of cases in each touristic hotspot district
district_cases = []
_=pd.DataFrame(all_districts_cases,index=map(lambda x: x.upper(),all_districts))
for dist in df['District'].str.upper():
    try: 
        district_cases.append(_.loc[dist,0])
    except:
        district_cases.append(-1)

state_cases = []
_=pd.DataFrame(all_states_cases,index=map(lambda x: x.upper(),all_states))
for state in df['State'].str.upper():
    try: 
        state_cases.append(_.loc[state,0])
    except:
        state_cases.append(-1)        

#Maharashtra and Bihar have a common district called Aurangabad, fixing this issue
for n,state,dist in zip(range(df.shape[0]),df["State"].str.upper(),df['District'].str.upper()):
    if((state == 'MAHARASHTRA') and (dist == 'AURANGABAD')):
                        district_cases[n]=529
    elif ((state == 'BIHAR') and (dist == 'AURANGABAD')):
                        district_cases[n]=8

In [317]:
#Add the columns
df['District Cases']=district_cases
df['State Cases']=state_cases

In [ ]:
df = pd.read_pickle('data.pkl')

In [381]:
pop=pd.read_csv('india-districts-census-2011.csv')
popfilt = pop.iloc[:,1:4]
state_pop=popfilt.groupby('State name').sum().reset_index()
popfilt.head(2)

          State name District name  Population
0  JAMMU AND KASHMIR       Kupwara      870354
1  JAMMU AND KASHMIR        Badgam      753745

In [383]:
distpop=[]
statepop=[]
for dist,state in zip(df["District"].str.upper(),df["State"].str.upper()):
    z=popfilt.loc[(popfilt["District name"].str.upper()==dist),'Population']
    try:
        distpop.append(int(z))
    except:
        if dist=='NORTH DELHI':
            distpop.append(883418)
        elif dist=='SOUTH DELHI':
            distpop.append(2733752)
        elif dist=='NORTH WEST DELHI':
            distpop.append(3651261)
        elif dist=='WEST DELHI':
            distpop.append(2531583)
        elif dist=='SOUTH WEST DELHI':
            distpop.append(2292363)
        elif dist=='NORTH EAST DELHI':
            distpop.append(2733752)
        elif dist=='CENTRAL DELHI':
            distpop.append(2733752)
        elif dist=='SOUTH DELHI':
            distpop.append(2733752)
        
    
    y=state_pop.loc[(state_pop["State name"].str.upper()==state),'Population']
    try:
        statepop.append(int(y))
    except:
        statepop.append(-1)
    if

In [384]:
_=pd.DataFrame({'District':df['District'].tolist(),'Dist Population':distpop,'State':df['State'].tolist(),'State Population':statepop})

In [386]:
_.head(50)

,District,Dist Population,State,State Population
0,Agra,4418797,Uttar Pradesh,199812341
1,Jaipur,6626178,Rajasthan,68548437
2,Sawai Madhopur,1335551,Rajasthan,68548437
3,North Delhi,-1,Delhi,-1
4,Jaipur,6626178,Rajasthan,68548437
5,Jaipur,6626178,Rajasthan,68548437
6,Agra,4418797,Uttar Pradesh,199812341
7,South Delhi,-1,Delhi,-1
8,New Delhi,142004,Delhi,-1
9,South East Delhi,-1,Delhi,-1
10,Pauri Garhwal,-1,Uttarakhand,10086292
11,Jodhpur,3687165,Rajasthan,68548437
12,Central Delhi,-1,Delhi,-1
13,Jaipur,6626178,Rajasthan,68548437
14,Jaipur,6626178,Rajasthan,68548437
15,Amritsar,2490656,Punjab,27743338
16,South Andaman,238142,Andaman and Nicobar Islands,380581
17,Aurangabad,-1,Maharashtra,112374333
18,South East Delhi,-1,Delhi,-1
19,Mumbai,3085411,Maharashtra,112374333
20,Aurangabad,-1,Maharashtra,112374333
21,Jaipur,6626178,Rajasthan,68548437
22,Kullu,437903,Himachal Pradesh,6864602
23,Jodhpur,3687165,Rajasthan,68548437
24,Sonitpur,1924110,Assam,31205576
25,East Delhi,-1,Delhi,-1
26,Idukki,1108974,Kerala,33406061
27,Udaipur,3068420,Rajasthan,68548437
28,Jaisalmer,669919,Rajasthan,68548437
29,Jaipur,6626178,Rajasthan,68548437
30,Rajsamand,1156597,Rajasthan,68548437
31,Raigad,-1,Maharashtra,112374333
32,Mysuru,-1,Karnataka,61095297
33,Jaipur,6626178,Rajasthan,68548437
34,South Goa,640537,Goa,1458545
35,Madurai,3038252,Tamil Nadu,72147030
36,Agra,4418797,Uttar Pradesh,199812341
37,Idukki,1108974,Kerala,33406061
38,New Delhi,142004,Delhi,-1
39,Kodagu,554519,Karnataka,61095297
40,Kullu,437903,Himachal Pradesh,6864602
41,Junagadh,2743082,Gujarat,60439692
42,Chamarajanagar,1020791,Karnataka,61095297
43,Chamoli,391605,Uttarakhand,10086292
44,South Andaman,238142,Andaman and Nicobar Islands,380581
45,Jodhpur,3687165,Rajasthan,68548437
46,Kullu,437903,Himachal Pradesh,6864602
47,Hyderabad,3943323,Telangana,-1
48,New Delhi,142004,Delhi,-1
49,North Goa,818008,Goa,1458545

### Section 4: Clustering
#### Trying k-means cluster and DBSCAN